.btnBack {
    cursor: pointer;
    transition: 0.3s;
}

.btnBack:hover {
    transform: scale(0.95);
    opacity: 0.8;
}

.buttonGreen {
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    border: none;
}

.buttonRed {
    background-color: var(--red);
    color: white;
    border-radius: 10px;
    border: none;
}

.buttonOrange {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 10px;
}

.buttonGray {
    background-color: var(--gray);
    color: white;
    border: none;
    border-radius: 10px;
}

.buttonBlue {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 10px;
}

button:disabled {
    opacity: 0.7;

}

button:disabled:hover {
    filter: none;
    cursor: default;
}
