@import "inputGroup.css";
@import "textAreaGroup.css";
@import "modal.css";
@import "buttons.css";
@import "modais/Equipes.css";
@import "modais/Participantes.css";

/* Detalhes do Projeto -------------------------------------- */

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
}

#divTitulo {
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
    transition: 0.5s;
}

#divTitulo img:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.8;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

.sectionDetalhes {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.articleDetalhes {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(195, 195, 195, 0.5);
    height: 90%;
    width: 70%;
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 10px;
}

.articleDetalhes .divEditar_Salvar {
    display: flex;
    justify-content: end;
    margin-top: auto;
    width: 100%;
}

#divInputNome {
    width: 50%;
}

#divInputDescricao {
    display: flex;
    justify-content: start;
    width: 100%;
}

#divInputDescricao textarea {
    resize: none;
    height: 100px;
}

#divInputDescricao, #divInputNome, .divDataConclusao_Tarefas, .divChat_Equipes, .divResponsavel_Participantes {
    margin-bottom: 20px;
}

.divDataConclusao_Tarefas, .divChat_Equipes, .divResponsavel_Participantes {
    display: flex;
    align-items: center;
}

.divDataConclusao_Tarefas .input-group, .divResponsavel_Participantes .input-group {
    display: flex;
    width: 30%;
    justify-content: center;
}

.divProjeto_Comentarios button, .divDataConclusao_Tarefas button, .divResponsavel_Participantes button, #btnEquipes {
    margin-left: 20px;
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
}

#btnChat {
    background-color: rgba(44, 88, 143, 0.57);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 10px;
}

.articleDetalhes #btnComentarios {
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}

#space {
    width: 30%;
}

#btnEditar, #btnSalvar {
    height: 35px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

#btnEditar {
    margin-right: 20px;
    background-color: rgba(5, 104, 230, 0.75);
}

#btnSalvar {
    background-color: #75CE70;
}

button {
    transition: 0.3s;
}

button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

/* Modal Comentários -------------------------------------- */

#modalComentarios {
    justify-content: start;
    height: 500px;
    width: 500px;
    top: 25%;
    left: 40%;
    padding: 0 20px 10px 20px;
}

#modalComentarios .divTitulo {
    width: 100%;
    margin-top: 10px;
}

#modalComentarios .divTitulo h1 {
    width: 95%;
    text-align: center;
}

#modalComentarios #btnAdicionarComentario {
    height: 35px;
    width: 225px;
    align-self: end;
    font-size: 18px;
    margin-top: 10px;
}

#modalComentarios .sectionComentarios {
    flex: 1;
    width: 100%;
    overflow: auto;
}

#modalComentarios .articleComentario {
    display: flex;
    height: 120px;
    width: 95%;
    border-radius: 10px;
    border: 3px solid #c3c3c3;
    margin-top: 10px;
}

#modalComentarios .articleComentario .textoComentario {
    width: 75%;
    overflow: auto;
    padding: 5px;
}

#modalComentarios .articleComentario .divInfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25%;
}

#modalComentarios .articleComentario .divInfo .imgRemover {
    width: 35px;
}

#modalComentarios .articleComentario .divInfo .imgRemover:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#modalComentarios .articleComentario .divInfo .data {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
}

#modalComentarios .articleComentario .divInfo .hora {
    padding-right: 5px;
}

#modalComentarios .articleComentario .divInfo .divUser {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

#modalComentarios .articleComentario .divInfo .divUser img {
    width: 35px;
}

/* Modal Adicionar Comentário -------------------------------------- */

#modalAdicionarComentario {
    height: 350px;
    width: 500px;
    top: 30%;
    justify-content: start;
}

#modalAdicionarComentario .tituloModal {
    margin-top: 10px;
}

#modalAdicionarComentario .textArea-group {
    width: 90%;
    margin-top: 10px;
}

#modalAdicionarComentario textarea {
    resize: none;
    height: 200px;
}

#modalAdicionarComentario .divCancelar_Adicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 15px;
}

#modalAdicionarComentario .divCancelar_Adicionar button {
    height: 35px;
    width: 150px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}










