@import "inputGroup.css";
@import "textAreaGroup.css";
@import "modal.css";
@import "buttons.css";

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
}

#divTitulo {
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
    transition: 0.5s;
}

#divTitulo img:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.8;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

.sectionDetalhes {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.articleDetalhes {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(195, 195, 195, 0.5);
    height: 90%;
    width: 70%;
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 10px;
}

.articleDetalhes .divEditar_Salvar {
    display: flex;
    justify-content: end;
    margin-top: auto;
    width: 100%;
}

#divInputNome {
    width: 50%;
}

#divInputDescricao {
    display: flex;
    justify-content: start;
    width: 100%;
}

#divInputDescricao textarea {
    resize: none;
    height: 100px;
}

#divInputDescricao, #divInputNome, .divDataConclusao_Tarefas, .divChat_Equipes, .divResponsavel_Participantes {
    margin-bottom: 20px;
}

.divDataConclusao_Tarefas, .divChat_Equipes, .divResponsavel_Participantes {
    display: flex;
    align-items: center;
}

.divDataConclusao_Tarefas .input-group, .divResponsavel_Participantes .input-group {
    display: flex;
    width: 30%;
    justify-content: center;
}

.divProjeto_Comentarios button, .divDataConclusao_Tarefas button, .divResponsavel_Participantes button, #btnEquipes {
    margin-left: 20px;
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
}

#btnChat {
    background-color: rgba(44, 88, 143, 0.57);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 10px;
}

#btnComentarios {
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}

#space {
    width: 30%;
}


#btnEditar, #btnSalvar {
    height: 35px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}


#btnEditar {
    margin-right: 20px;
    background-color: rgba(5, 104, 230, 0.75);
}

#btnSalvar {
    background-color: #75CE70;
}

button {
    transition: 0.3s;
}

button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#modalParticipantes, #modalEquipes {
    height: 500px;
    top: 25%;
    padding: 10px;
    width: 400px;
}

#modalParticipantes .divTitulo, #modalEquipes .divTitulo {
    display: flex;
    width: 100%;
}

#modalParticipantes .divTitulo h1, #modalEquipes .divTitulo h1 {
    width: 95%;
    text-align: center;
    margin-left: 10px;
}

#modalParticipantes .btnAdicionarParticipantes, #modalEquipes .btnAdicionarEquipe {
    align-self: end;
    height: 35px;
    width: 200px;
    background-color: #75CE70;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#modalParticipantes .sectionParticipantes, #modalEquipes .sectionEquipes {
    flex: 1;
    width: 100%;
    overflow: auto;
}

#modalParticipantes .articleParticipante, #modalEquipes .articleEquipes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid #c3c3c3;
    width: 95%;
    margin-bottom: 5px;
}

#modalParticipantes .articleParticipante p, #modalEquipes .articleEquipes p {
    padding-left: 10px;
}

#modalParticipantes .articleParticipante img, #modalEquipes .articleEquipes img {
    width: 35px;
}

#modalParticipantes .articleParticipante img:hover, #modalEquipes .articleEquipes img:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#modalAdicionarParticipante {
    padding: 20px;
    height: 150px;
}

#modalAdicionarParticipante .divTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#modalAdicionarParticipante .divTitulo h1 {
    font-size: 26px;
    width: 95%;
    text-align: center;
}

#modalAdicionarParticipante img:hover {
    cursor: pointer;
}

#modalAdicionarParticipante button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #75CE70;
    color: white;
    padding: 10px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

#modalAdicionarParticipante button:hover {
    filter: brightness(0.9);
}

#modalAdicionarParticipante button img {
    margin-left: 20px;
    width: 30px;
}

#modalAdicionarEquipe {
    flex-direction: column;
    justify-content: start;
    height: 600px;
    width: 600px;
    top: 25%;
    left: 40%;
}

#modalAdicionarEquipe .tituloModal {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#modalAdicionarEquipe .input-group {
    width: 100%;
    justify-content: start;
    margin-top: 20px;
}

#modalAdicionarEquipe .input-nome input {
    width: 300px;
}

#modalAdicionarEquipe .btnParticipantes {
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    align-self: start;
    margin-top: 20px;
}

#modalAdicionarEquipe .divCancelar_Concluir {
    display: flex;
    justify-content: end;
    margin-top: auto;
    width: 100%;
    margin-bottom: 20px;
}

#modalAdicionarEquipe .divCancelar_Concluir button {
    width: 150px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}








