@import "inputGroup.css";
@import "textAreaGroup.css";
@import "selectGroup.css";
@import "modal.css";
@import "buttons.css";
@import "modais/Equipes.css";
@import "modais/Participantes.css";
@import "modais/Comentarios.css";

/* Detalhes do Projeto -------------------------------------- */

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
}

#divTitulo {
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
    transition: 0.5s;
}

#divTitulo img:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.8;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

.sectionDetalhes {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.articleDetalhes {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(195, 195, 195, 0.5);
    height: 90%;
    width: 70%;
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 10px;
}

.articleDetalhes .divEditar_Salvar {
    display: flex;
    justify-content: end;
    margin-top: auto;
    width: 100%;
}

#divInputNome {
    width: 50%;
}

#divInputDescricao {
    display: flex;
    justify-content: start;
    width: 100%;
}

#divInputDescricao textarea {
    resize: none;
    height: 100px;
}

#divInputDescricao, #divInputNome, .divDataConclusao_Tarefas, .divChat_Equipes, .divResponsavel_Participantes {
    margin-bottom: 20px;
}

.divDataConclusao_Tarefas, .divChat_Equipes, .divResponsavel_Participantes {
    display: flex;
    align-items: center;
}

.divDataConclusao_Tarefas .input-group, .divResponsavel_Participantes .select-group {
    display: flex;
    width: 30%;
    justify-content: center;
}

.divProjeto_Comentarios button, .divDataConclusao_Tarefas button, .divResponsavel_Participantes button, #btnEquipes {
    margin-left: 20px;
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
}

#btnChat {
    background-color: rgba(44, 88, 143, 0.57);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 10px;
}

.articleDetalhes #btnComentarios {
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}

#space {
    width: 30%;
}

#btnEditar, #btnSalvar {
    height: 35px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

#btnEditar {
    margin-right: 20px;
    background-color: rgba(5, 104, 230, 0.75);
}

#btnSalvar {
    background-color: #75CE70;
}

button {
    transition: 0.3s;
}

button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}










