@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#divLogo h1 {
    font-size: 48px;
    font-weight: 800;
}

#WORK {
    color: #37475C;
}

#ETHER {
    color: #0568E6;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    border: 3px solid rgba(195, 195, 195, 0.5);
    border-radius: 20px;
}

form h1 {
    margin: 20px;
    font-size: 40px;
}

form input {
    margin: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid rgba(195, 195, 195, 0.5);
    width: 400px;
    padding: 10px;
}

form input:focus {
    border: 3px solid rgba(5, 104, 230, 0.5);
    outline: none;
}

#pErro {
    color: rgba(255, 0, 0, 0.8);
    font-size: 20px;
}

form p {
    margin: 5px;
    color: rgba(0, 0, 0, 0.5);
}

form a {
    text-decoration: none;
    color: rgba(5, 104, 230, 0.8);
    font-weight: 800;
    transition: 0.2s;
}

form a:hover {
    color: rgba(5, 104, 230);
}

form button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
    height: 40px;
    width: 200px;
    background-color: rgba(5, 104, 230, 0.8);
    transition: 0.3s;
}

form button:hover {
    transform: scale(110%);
    background-color: rgb(5, 104, 230);
}