@import "inputGroup.css";
@import "textAreaGroup.css";

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
}

#divTitulo {
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
    transition: 0.5s;
}

#divTitulo img:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.8;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

.sectionDetalhes {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.articleDetalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid rgba(195, 195, 195, 0.5);
    height: 90%;
    width: 70%;
    padding: 20px 40px 10px 40px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 10px;
}

#divInputNome {
    width: 50%;
}

#divInputDescricao {
    display: flex;
    justify-content: start;
    width: 100%;
}

#divInputDescricao textarea {
    resize: none;
    height: 100px;
}

#divInputDescricao, #divInputNome {
    margin-bottom: 20px;
}

.divData, .divResponsavel, .divEquipe, .divProjeto {
    width: 40%;
    margin-bottom: 20px;
}

.divCancelar_Concluir {
    display: flex;
    justify-content: end;
    width: 100%;
}


#btnCancelar, #btnConcluir {
    height: 35px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius:  10px;
    transition: 0.3s;
}


#btnCancelar {
    margin-right: 20px;
    background-color: #E65A55;
}

#btnConcluir {
    background-color: #75CE70;
}

button {
    transition: 0.3s;
}

button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}








