@import "inputGroup.css";
@import "textAreaGroup.css";
@import "buttons.css";
@import "modal.css";
@import "modais/Participantes.css";
@import "modais/Equipes.css";
@import "modais/Comentarios.css";
@import "selectGroup.css";

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
}

#divTitulo {
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
    transition: 0.5s;
}

#divTitulo img:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.8;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

.sectionDetalhes {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.articleDetalhes {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(195, 195, 195, 0.5);
    height: 90%;
    width: 70%;
    padding: 20px 40px 10px 40px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 10px;
}

#divInputNome {
    width: 50%;
    margin-bottom: 20px;
}

#divInputDescricao {
    display: flex;
    justify-content: start;
    width: 100%;
}

#divInputDescricao textarea {
    resize: none;
    height: 100px;
}

.responsavel, .data {
    width: 300px;
    margin-top: 20px;
}

#btnParticipantes, #btnEquipes {
    background-color: #E1B669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

#info {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.divCancelar_Concluir {
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    width: 100%;
}

#btnCancelar, #btnConcluir {
    height: 35px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

#btnCancelar:disabled, #btnConcluir:disabled {
    opacity: 0.7;
}

#btnCancelar:disabled:hover, #btnConcluir:disabled:hover {
    filter: none;
    cursor: default;
}

#btnCancelar {
    margin-right: 20px;
    background-color: #E65A55;
}

#btnConcluir {
    background-color: #75CE70;
}

button {
    transition: 0.3s;
}

button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}










