@import "inputGroup.css";

.conteudo {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

#divTitulo {
    display: flex;
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
    transition: 0.5s;
}

#divTitulo img:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.8;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

.divInput {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}

.input-group {
    width: 400px;
}

#divID {
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
}

.divInput img {
    width: 40px;
    margin-left: 10px;
}

.divInput img:hover {
    cursor: pointer;
}

#btnAlterarSenha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(5, 104, 230, 0.67);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
}

#btnAlterarSenha:hover {
    background-color: rgb(5, 104, 230);
    cursor: pointer;
}
