section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
}

#divTitulo {
    width: 100%;
}

#divTitulo img {
    width: 70px;
    margin-left: 20px;
}

#divTitulo img:hover {
    cursor: pointer;
}

#divTitulo h1 {
    font-size: 50px;
    margin-left: 20px;
}

#divPesquisa {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-right: 50px;
    margin-bottom: 30px;
}

#divPesquisa input {
    width: 300px;
    font-size: 20px;
    border: 2px solid rgba(195, 195, 195, 0.5);
    border-radius: 30px;
    padding: 5px;
    margin-right: 20px;
}

#divPesquisa input:focus {
    outline: none;
}

#divPesquisa button {
    height: 40px;
    width: 200px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgba(5, 104, 230, 0.67);
    color: white;
    transition: 0.3s;
}

#divPesquisa button:hover {
    background-color: rgba(5, 104, 230, 0.9);
    cursor: pointer;
}

.sectionProjetos {
    display: flex;
    overflow: auto;
    width: 100%;
    flex: 1;
}

.articleProjeto {
    display: flex;
    align-items: center;
    border: 3px solid rgba(195, 195, 195, 0.5);
    width: 95%;
    height: 200px;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: 0.4s;
}

.articleProjeto:hover {
    background-color: rgba(195, 195, 195, 0.3);
    transform: scale(1.01);
    cursor: pointer;
}

.divTitulo {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    height: 100%;
}

.divTitulo h1 {
    color: #0568E6;
    width: 100%;
    height: 20%;
}

.divTitulo p {
    width: 100%;
    height: 60%;
    font-size: 18px;
    overflow: auto;
    margin-top: 25px;
}

.divInfo {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    align-items: end;
}

.pData {
    font-size: 18px;
}

.divResponsavel {
    margin: 20px;
}

.divResponsavel p {
    font-size: 20px;
    margin-left: 10px;
}

.pStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E65A55;
    height: 35px;
    width: 200px;
    color: white;
    border-radius: 20px;
    font-size: 18px;
}

.pEmAndamento {
    background-color: rgba(5, 104, 230, 0.67);
}

.pAtrasado {
    background-color: #E65A55;
}

.pConcluido {
    background-color: #75CE70;
}
