@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "inputGroup.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#divLogo h1 {
    font-size: 48px;
    font-weight: 800;
}

#WORK {
    color: #37475C;
}

#ETHER {
    color: #0568E6;
}