.textArea-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.textArea-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    resize: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.textArea-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #888;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
    background: white;
    padding: 0 4px;
}

.textArea-group textarea:focus {
    border-color: rgba(5, 104, 230, 0.7);
}

.textArea-group textarea:focus + label,
.textArea-group textarea:not(:placeholder-shown) + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: rgba(5, 104, 230, 0.8);
}