/Desenvolvimento Desktop/ProjetoIntegradorDesktop/target/

/Desenvolvimento Web/Workether/vendor/
/Desenvolvimento Web/Workether/.idea/
/Desenvolvimento Web/.idea/
/Desenvolvimento Web/Workether/credentials.json
/Desenvolvimento Web/Workether/token.json
/Desenvolvimento Web/Workether/node_modules/
composer.lock

*.log
*.cache
*.tmp
*.temp

.cache/
tmp/
temp/

.env
.env.local
.env.*.local

/.idea/
/.vscode/
/nbproject/
/*.sublime-workspace
/*.sublime-project

.DS_Store
Thumbs.db
