/* Modal Participantes -------------------------------------- */

.modalParticipantes {
    height: 500px;
    top: 25%;
    padding: 10px;
    width: 400px;
}

.modalParticipantes .divTitulo {
    display: flex;
    width: 100%;
}

.modalParticipantes .divTitulo h1 {
    width: 95%;
    text-align: center;
    margin-left: 10px;
}

.modalParticipantes .btnAdicionarParticipantes {
    align-self: end;
    height: 35px;
    width: 200px;
    background-color: #75CE70;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalParticipantes .sectionParticipantes {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.modalParticipantes .articleParticipante {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid #c3c3c3;
    width: 95%;
    margin-bottom: 5px;
}

.modalParticipantes .articleParticipante p{
    padding-left: 10px;
}

.modalParticipantes .articleParticipante img{
    width: 35px;
}

.modalParticipantes .articleParticipante img:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

/* Modal Adicionar Participante -------------------------------------- */

.modalAdicionarParticipante {
    padding: 20px;
    height: auto;
}

.modalAdicionarParticipante .divTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.modalAdicionarParticipante .divTitulo h1 {
    font-size: 26px;
    width: 95%;
    text-align: center;
}

.modalAdicionarParticipante img:hover {
    cursor: pointer;
}

.modalAdicionarParticipante .select-group {
    width: 85%;
}

.modalAdicionarParticipante #info {
    color: #46b640;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.modalAdicionarParticipante button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #75CE70;
    color: white;
    padding: 10px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.modalAdicionarParticipante button:hover {
    filter: brightness(0.9);
}

.modalAdicionarParticipante button img {
    margin-left: 20px;
    width: 30px;
}